<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">

  <title>The Sasquatch Story</title>

<!-- Katie's Script for map -->
<script src="app_kw.js"></script>

<!-- Justin's Script for map -->

<script src=""></script>

<!-- Dave's Script for map -->
<script src=""></script>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
<!--Begin Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BigFoot: Fact or Fiction</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Their Story <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="evidence.html">The Data</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://www.bfro.net/GDB/submitfm.asp"  target="_blank">Report  a Sighting</a>
            </li>
        </ul>

  </nav>
<!--End Navbar-->


  <!-- Creates the Overall Grid -->
  <div class="container">

    <!-- First Row -->
    <div class="row">
      </br>
      <!-- First (and only column) -->
      <div class="col-md-12" >
            </div>
    </div>

    <!-- Second Row -->
    <div class="row">
        <blockquote class="blockquote">
            <p class="mb-0">I think Bigfoot is blurry, that's the problem. It's not the photographer's fault. Bigfoot is blurry, and that's extra scary to me. There's a large, out-of-focus monster roaming the countryside. Run, he's fuzzy, get out of here.</p>
            <footer class="blockquote-footer">Mitch Hedberg  </footer>
          </blockquote>
      </div>

     <!-- Third row-->
    <div class="row">
    
      <!--Third Row, First Column-->    
      
      <div class="col-md-4">

          

         </div>
      <!--Third Row, Second Column-->  
      
      

    <!--Third Row, Third Column-->    
      <div class="col-md-5">
    
          
           
   </div>


    <!-- 4th row -->
    
        </div>

</body>

</html>
