<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">

  <title>The Sasquatch Story</title>

<!-- Katie's Script for map -->
<script src="app_kw.js"></script>

<!-- Justin's Script for map -->

<script src=""></script>

<!-- Dave's Script for map -->
<script src="logic.js"></script>
<script src="leaflet.extra-markers.js"></script>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
<!--Begin Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">The Sasquatch Story</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Their Story <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="evidence.html">The Data</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://www.bfro.net/GDB/submitfm.asp"  target="_blank">Report  a Sighting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://www.bfro.net/GDB/submitfm.asp"  target="_blank">Links</a>
              </li>
        </ul>
  </nav>
<!--End Navbar-->




</body>

</html>
