<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">

  <title>The Sasquatch Story</title>

<!-- Katie's Script for map -->
<script src="app_kw.js"></script>

<!-- Justin's Script for map -->

<script src="plot.js"></script>

<!-- Dave's Script for map -->
<script src="logic.js"></script>
<script src="leaflet.extra-markers.js"></script>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
<!--Begin Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">The Sasquatch Story</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Their Story <span class="sr-only">(current)</span></a>
          </li>
                 <li class="nav-item">
              <a class="nav-link" href="http://www.bfro.net/GDB/submitfm.asp"  target="_blank">Report  a Sighting</a>
            </li>
           s
        </ul>
  </nav>
<!--End Navbar-->


  <!-- Creates the Overall Grid -->
  <div class="container">

    <!-- First Row -->
    <div class="row">

      <!--Nav Tabs-->


       </br>
      
    <!-- Second Row Block Quote-->
    <div class="row">
        <div class="col-md-12" >
        <blockquote class="blockquote-xsm">
            <p class="mb-0">I think Bigfoot is blurry, that's the problem. It's not the photographer's fault. Bigfoot is blurry, and that's extra scary to me. There's a large, out-of-focus monster roaming the countryside. Run, he's fuzzy, get out of here.</p>
            <footer class="blockquote-footer">Mitch Hedberg  </footer>
          </blockquote>
      </div>
     </div>

    <!-- Third row-->
         <div class="row">
        <div class="col-md-3">
    <p><img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimage-ticketfly.imgix.net%2F00%2F02%2F56%2F88%2F22-og.jpeg%3Fw%3D500%26h%3D334%26fit%3Dcrop%26crop%3Dtop" width=200></p>
    <p><small>Regardless of whether it is called Sasquatch, Bigfoot, Yeti, or Yowie,  there is no denying
       that this hominid-like creature has intrigued modern humans for hundreds, if not thousands of years.</small></p>

       <!--Dropdown with Links-->
       <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-info">Sasquatch Links</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
              <a class="dropdown-item" href="http://www.bfro.net/">BFRO</a>
              <a class="dropdown-item" href="#">Dropdown link</a>
            </div>
          </div>
        </div>

        </div>
       

        <!--ADD Dave's PLOT HERE-->
        <div class="col-md-5">
    
            <div id="map"><img src="images/map.png" width = 800></div>    
            <div id="map"></div>    
                  
          </div>
         
  
  <!--ADD Katie's PLOT HERE-->
  <div class="row">
        <div class="col-md-12">
    <div id="bubbleplot">
     
    </div>    
        </div>
      </div> 
     
    </div> 

<!--Fourth row-->
  <!--ADD Katie's PLOT HERE-->
  <div class="row">
      <div class="col-md-12">
  <div id="barplot">
    
  </div>    
      </div>
    </div> 
   
  </div>
</body>

</html>
