<html lang="en-us">

<head>

  <meta charset="UTF-8">

  <title>The Sasquatch Story</title>

  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" crossorigin="anonymous">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>    <!-- Marker Cluster JS & CSS -->

  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

  <link rel="stylesheet" href="static/css/style.css">

</head>

<body>



<!--Begin Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">The Sasquatch Story</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Their Story <span class="sr-only">(current)</span></a>
          </li>
                 <li class="nav-item">
              <a class="nav-link" href="http://www.bfro.net/GDB/submitfm.asp"  target="_blank">Report  a Sighting</a>
            </li>
           
        </ul>
  </nav>
<!--End Navbar-->


  <!-- Creates the Overall Grid -->
  <div class="container">

    <!-- First Row -->
    <div class="row"></div>

       </br>
      
    <!-- Second Row Block Quote-->
    <div class="row">
        <div class="col-md-12" >
       
      </div>
     </div>

    <!-- Third row-->
         <div class="row">
        <div class="col-md-3">
    <p><img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimage-ticketfly.imgix.net%2F00%2F02%2F56%2F88%2F22-og.jpeg%3Fw%3D500%26h%3D334%26fit%3Dcrop%26crop%3Dtop" width=200></p>

       <blockquote class="blockquote-xsm">
          <p class="mb-0">I think Bigfoot is blurry, that's the problem. It's not the photographer's fault. Bigfoot is blurry, and that's extra scary to me. There's a large, out-of-focus monster roaming the countryside. Run, he's fuzzy, get out of here.</p>
          <footer class="blockquote-footer">Mitch Hedberg  </footer>
        </blockquote>

       

        </div>
       

        <!--ADD Dave's PLOT HERE-->
        <div class="col-md-9">
    <div>
        <p>Regardless of whether it is called Sasquatch, Bigfoot, Yeti, or Yowie,  there is no denying
            that this hominid-like creature has intrigued modern humans for hundreds, if not thousands of years.</p>

    </div>
  <div id="map"></div>

   <!-- Icons -->
   <script src="static/js/leaflet.extra-markers.min.js"></script>

   <!-- API key -->
   <script type="text/javascript" src="static/js/config.js"></script>

   <!-- JS -->
   <script type="text/javascript" src="static/js/logic.js"></script>

   <!-- Leaflet heatmap plugin-->
   <script type="text/javascript" src="static/js/leaflet-heat.js"></script>
 
  </body>
         
  
  <!--ADD Katie's PLOT HERE-->
  <div class="row">
        <div class="col-md-12">
    <div id="bubbleplot">
     
    </div>    
        </div>
      </div> 
     
    </div> 

<!--Fourth row-->
<!--ADD Justin's PLOT HERE-->
  <div class="row">
      <div class="col-md-12">
  <div id="barplot"></div>    
      </div>
    </div> 
   
  </div>

<!--D3 Script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>

<!-- Katie's Script for map -->
<script src="static/js/app_kw.js"></script>

<!-- Justin's Script for map -->

<script src="static/js/plot-jm.js"></script>



</body>

</html>