<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>The Squatch Story</title>

    <!-- Bring in our bootstrap stylesheet -->
         
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/_variables.scss">
    <link rel="stylesheet" href="../static/css/_bootswatch.scss">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  

</head>

<body>

<!--Begin Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">The Sasquatch Story</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                  <a class="nav-link" href="http://www.bfro.net/GDB/submitfm.asp"  target="_blank">Report  a Sighting</a>
                </li>
               
            </ul>
            </div>   
      </nav>
    <!--End Navbar-->


  <!-- Creates the Overall Grid -->
  <div class="container">

        <!-- First Row -->
        <div class="row">
    
           </br>
        </div>  
        <!-- Second Row Block Quote-->
        <div class="row">
            <div class="col-md-12" > </div>
         </div>
    
        <!-- 2nd row-->
        <div class="row">
            <div class="col-md-3">
            <p>
            <img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimage-ticketfly.imgix.net%2F00%2F02%2F56%2F88%2F22-og.jpeg%3Fw%3D500%26h%3D334%26fit%3Dcrop%26crop%3Dtop" width=200>
            </p>
                <blockquote class="blockquote-xsm">
                <p class="mb-0">
                  I think Bigfoot is blurry, that's the problem. It's not the photographer's fault. Bigfoot is blurry, 
                  and that's extra scary to me. There's a large, out-of-focus monster roaming the countryside. 
                  Run, he's fuzzy, get out of here.
                </p>
                    <footer class="blockquote-footer">Mitch Hedberg  </footer>
                </blockquote>    
           </div>
        <div class="col-md-9"> 
          <!--Tabbed Story Items-->
         
                    <div class="bs-component">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">The Sasquatch Story</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#where">Where to Find Them</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#when">When to Find Them</a>
                        </li>      
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#trends">Trends in Sightings</a>
                          </li>        
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade show active" id="home">
                        <p>Bigfoot info here</p>
                      </div>
                      <div class="tab-pane fade show" id="where">
                        <p>More shit here.</p>
                        
                        <a href="../templates/index_dk.html" target="_blank" data-toggle="tooltip" data-placement="top" title="Click for a full interactive map!">
                          <img src="../images/map.png">
                        </a>
                      </div>
                      <div class="tab-pane fade show" id="when">
                          <p>even More shit here.</p>
                        </div>
                        <div class="tab-pane fade show" id="trends">
                            <p>yes, More shit here.</p>
                            <a href="../templates/index_kw.html" target="_blank" data-toggle="tooltip" data-placement="top" title="Click to see a full interactive trend report">
                              <img src="../images/sightings.png">
                            </a>
                          </div>
                      
                    </div>
                  </div>
                </div>

            </div> 

    </div>
     
</body>