<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>The Squatch Story</title>

    <!-- Bring in our bootstrap stylesheet -->
         
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_variables.scss') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_bootswatch.scss') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  

</head>

<body>

<!-- begin navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">The Sasquatch Story</a>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active"> -->
            
                <li class="nav-item">
                    <a class="nav-link" href="http://www.bfro.net/GDB/submitfm.asp"  target="_blank">Report a Sighting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index_kw.html">Sightings by Year</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index_jm.html">Sightings by Month/Day</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="index_dk.html">Sightings Map</a>
            </li>  
        </ul>
    </nav>
<!-- end navbar -->



  <!-- Creates the Overall Grid -->
  <div class="container">

        <!-- First Row -->
        <div class="row">
    
           </br>
        </div>  
        <!-- Second Row -->
        <div class="row">
            <div class="col-md-12" > 

   
            </div>
         </div>
    
        <!-- 2nd row-->
        <div class="row">
            <div class="col-md-3">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Sasquatch sighted in the Minneapoils/St.Paul area. Be on the Lookout!</strong> <a href="#" class="alert-link"></br>DO NOT ATTEMPT TO FEED</a>.
                  </div>
           

                <blockquote class="blockquote-xsm">
                <p class="mb-0">
                  I think Bigfoot is blurry, that's the problem. It's not the photographer's fault. Bigfoot is blurry, 
                  and that's extra scary to me. There's a large, out-of-focus monster roaming the countryside. 
                  Run, he's fuzzy, get out of here.
                </p>
                    <footer class="blockquote-footer">Mitch Hedberg  </footer>
                </blockquote>    
                <div><img src="{{ url_for('static', filename='images/yeti.png') }}"></div>
  
           </div>
        <div class="col-md-9"> 
          <!--Tabbed Story Items-->
         
                    <div class="bs-component">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">The Sasquatch Story</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#where">Where to Find Them</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#when">When to Find Them</a>
                        </li>      
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#trends">Trends in Sightings</a>
                          </li>        
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane fade show active" id="home"></br>
                        <p>Sasquatch, Bigfoot, Yeti, Ape-Man, George...</br>
                        Whatever you want to call this creature, it has been mysteriously roaming the world.</p>
                        <p>Little is known about it. It howls at night. It leaves footprints. It is always just out of focus in photographs.</br>
                      So, is it real? Are people who have sightings just crackpots? Or, is there something out there?</p>
                      <p>Below is the <a href="https://en.wikipedia.org/wiki/Patterson%E2%80%93Gimlin_film">Patterson-Gimlin film</a>, one of the most famous Bigfoot sightings.  Recorded in 1967 in California, the authenticity of       
                        the film has been a heated topic for decades.</br>
                      
                      </p>
                      
                      <!--Add Video-->
                      <video id='my-video' class='video-js' controls preload='auto' width='640' height='264'
                       data-setup='{}'>
                        <source src="{{ url_for('static', filename='images/patterson.mp4') }}" type='video/mp4'>
                       
                      </video>
                    
                      <script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
                      <!--End Video-->
                      </div>
                      <div class="tab-pane fade show" id="where"></br>
                        <p>As you can see, there have been thousands of sightings across the continental United States. From the looks of it, this creature tends to gravitate towards areas where
                          they are able to find places to hide. Notice the desert and the plains states do not have nearly as many sightings. If I had a fur coat like Sasquatch, I wouldn't want to live in the desert either.
                        </p>
                        
                        <a href="index_dk.html" target="_blank" data-toggle="tooltip" data-placement="top" title="Click for a full interactive map!">
                          <img src="{{ url_for('static', filename='images/map.png') }}" width="750">
                        </a>
                      </div>
                      <div class="tab-pane fade show" id="when"></br>
                         
                      <p>Daytime, night time, spring, summer or fall...? When is the best time to go squatch hunting. Click on the image below for an interactive graph of when the most sightings have occurred.</p>
                     <a href="index_jm.html">
                      <img src="{{ url_for('static', filename='images/jm.png') }}" width="750" height="400" data-toggle="tooltip" data-placement="top" title="Click to see a full interactive trend graph!">
                    </a> 
                    </div>
                        <div class="tab-pane fade show" id="trends" ></br>
                            <p>What has caused the upward trend in Sasquatch Sightings? Could it possibly be....<strong>The Internet?</strong></p>
                            <img src="{{ url_for('static', filename='images/media.png') }}" height="85">
                            <a href="index_kw.html" target="_blank" data-toggle="tooltip" data-placement="top" title="Click to see a full interactive trend report">
                              <img src="{{ url_for('static', filename='images/sightings.png') }}" width="720" height="400">
                            </a>
                          </div>
                      
                          
                    </div>
                  </div>
                </div>

            </div> 

    </div>
     
</body>
</html>